<!DOCTYPE html>
<html>
<head>
  <title>Coco auth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "coco_auth/application", media: "all" %>
</head>
<body>

  <h1>Coco Auth</h1>

  <%= yield %>

</body>
</html>
